/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.upload-section {
  background: #efefef;
  padding: 1rem 1rem;
}

.gallery {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.gallery-item img {
   max-width: 300px;
   max-height: 300px;
   object-fit: contain;
}
